<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Mario</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/estiloMB.css')}}">
    
</head>
<body>
        <div class="game-board">
            <img src="{{url_for('static', filename='Img/clouds.png')}}" class="clouds-1">
            <img src="{{url_for('static', filename='Img/clouds.png')}}" class="clouds-2">
            <img src="{{url_for('static', filename='Img/clouds.png')}}" class="clouds-3">
            <img src="{{url_for('static', filename='Img/mario-stop.png')}}" class="mario">
            <img src="{{url_for('static', filename='Img/pipe.png')}}" class="pipe">
            <img src="{{url_for('static', filename='Img/grass.png')}}" class="grass">
            
        
            <div class="floor">
                <img src="{{url_for('static', filename='Img/floor.png')}}" class="floor-1">
                <img src="{{url_for('static', filename='Img/floor.png')}}" class="floor-2">
                <img src="{{url_for('static', filename='Img/floor.png')}}" class="floor-3">
            </div>
        </div>


<p id="text-start">Para jugar, presiona cualquir tecla</p>
     

    <script src="{{url_for('static', filename='JavaScript/script.js')}}" defer></script>   
</body>
</html>